= form_for(@chemoinformatic) do |f|
  - if @chemoinformatic.errors.any?
    #error_explanation
      %h2
        = pluralize(@chemoinformatic.errors.count, "error")
        prohibited this chemoinformatic from being saved:
      %ul
        - @chemoinformatic.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.text_area :input_process, :id => "chemical_process_input", :placeholder => "chemical process to be parsed"

  .actions
    = f.submit "parse", :class => "button", :disable_with => "running..."

