= form_for(@chemoinformatic) do |f|
  - if @chemoinformatic.errors.any?
    #error_explanation
      %h2
        = pluralize(@chemoinformatic.errors.count, "error")
        prohibited this chemoinformatic from being saved:
      %ul
        - @chemoinformatic.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :input_process
    .text_area_surround
      = f.text_area :input_process, :id => "chemical_process_for_parser"
  /
    .field
      = f.label :output_process
      .text_area_surround
        = f.text_area :output_process
  .actions
    = f.submit "parse", :class => "button"
