<p id="notice"><%= notice %></p>

<p>
  <b>Input process:</b>
  <%= @chemoinformatic.input_process %>
</p>

<p>
  <b>Output process:</b>
  <%= @chemoinformatic.output_process %>
</p>


<%= link_to 'Edit', edit_chemoinformatic_path(@chemoinformatic) %> |
<%= link_to 'Back', chemoinformatics_path %>
